## Strings
- Strings in python are surrounded by either single quotation marks, or double quotation marks.

'hello' is the same as "hello".
- You can display a string literal with the print() function:

In [1]:
print("Hello")
print('Hello')

Hello
Hello

In [2]:
# Assign String to a Variable
#Assigning a string to a variable is done with the variable name followed by an equal
# sign and the string:
a = "Hello"
print(a)

Hello

## Multiline Strings
- You can assign a multiline string to a variable by using three quotes:

In [3]:
# You can use three double quotes:

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)
# Or three single quotes:(''' ''')

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

## Strings are Arrays
- Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

- However, Python does not have a character data type, a single character is simply a string with a length of 1.

- Square brackets can be used to access elements of the string.

In [4]:
# Get the character at position 1 (remember that the first character has the position 0):

a = "Hello, World!"
print(a[1])

e

## Looping Through a String
- Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [5]:
# Loop through the letters in the word "banana":

for x in "banana":
  print(x)

b
a
n
a
n
a

# String Length
- To get the length of a string, use the len() function.

In [6]:
# The len() function returns the length of a string:

a = "Hello, World!"
print(len(a))

13

In [7]:
#Check String
# To check if a certain phrase or character is present in a string, we can use the keyword in.

#Check if "free" is present in the following text:

txt = "The best things in life are free!"
print("free" in txt)

True

In [8]:
#Use it in an if statement:

# Print only if "free" is present:

txt = "The best things in life are free!"
if "free" in txt:
  print("Yes, 'free' is present.")

Yes, 'free' is present.

In [9]:
# Check if NOT
# To check if a certain phrase or character is NOT present in a string, we can use the keyword not in.

#Check if "expensive" is NOT present in the following text:

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [10]:
# Use it in an if statement:

# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

## Slicing
- You can return a range of characters by using the slice syntax.

- Specify the start index and the end index, separated by a colon, to return a part of the string.

In [11]:
#Get the characters from position 2 to position 5 (not included):

b = "Hello, World!"
print(b[2:5])

llo

In [12]:
# Get the characters from the start to position 5 (not included):

b = "Hello, World!"
print(b[:5])

Hello

In [13]:
# Get the characters from position 2, and all the way to the end:

b = "Hello, World!"
print(b[2:])

llo, World!

## Negative Indexing
- Use negative indexes to start the slice from the end of the string:
Get the characters:

- From: "o" in "World!" (position -5)

- To, but not included: "d" in "World!" (position -2):

In [14]:
b = "Hello, World!"
print(b[-5:-2])

orl

## String Methods
- Python has a set of built-in methods that you can use on strings.

Note: All string methods return new values. They do not change the original string.

<tbody><tr>
<th>Method</th>
<th>Description</th>
</tr>
  <tr>
    <td><a href="ref_string_capitalize.asp">capitalize()</a></td><td>Converts the first 
    character to upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_casefold.asp">casefold()</a></td><td>Converts string into 
    lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_center.asp">center()</a></td><td>Returns a centered 
    string</td>
  </tr>
  <tr>
    <td><a href="ref_string_count.asp">count()</a></td><td>Returns the number of 
    times a specified value occurs in a string</td>
  </tr>
  <tr>
    <td><a href="ref_string_encode.asp">encode()</a></td><td>Returns an encoded 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_endswith.asp">endswith()</a></td><td>Returns true if the 
    string ends with the specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_expandtabs.asp">expandtabs()</a></td><td>Sets the 
    tab size of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_find.asp">find()</a></td><td>Searches the string for a 
    specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_format.asp">format()</a></td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td>format_map()</td><td>Formats specified 
    values in a string</td>
  </tr>
  <tr>
    <td><a href="ref_string_index.asp">index()</a></td><td>Searches the string 
    for a specified value and returns the position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_isalnum.asp">isalnum()</a></td><td>Returns True if all 
    characters in the string are alphanumeric</td>
  </tr>
  <tr>
    <td><a href="ref_string_isalpha.asp">isalpha()</a></td><td>Returns True if all 
    characters in the string are in the alphabet</td>
  </tr>
  <tr>
    <td><a href="ref_string_isdecimal.asp">isdecimal()</a></td><td>Returns True if all 
    characters in the string are decimals</td>
  </tr>
  <tr>
    <td><a href="ref_string_isdigit.asp">isdigit()</a></td><td>Returns True if all 
    characters in the string are digits</td>
  </tr>
  <tr>
    <td><a href="ref_string_isidentifier.asp">isidentifier()</a></td><td>Returns True if 
    the string is an identifier</td>
  </tr>
  <tr>
    <td><a href="ref_string_islower.asp">islower()</a></td><td>Returns True if all 
    characters in the string are lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_isnumeric.asp">isnumeric()</a></td><td>Returns True if 
    all characters in the string are numeric</td>
  </tr>
  <tr>
    <td><a href="ref_string_isprintable.asp">isprintable()</a></td><td>Returns True if 
    all characters in the string are printable</td>
  </tr>
  <tr>
    <td><a href="ref_string_isspace.asp">isspace()</a></td><td>Returns True if all 
    characters in the string are whitespaces</td>
  </tr>
  <tr>
    <td><a href="ref_string_istitle.asp">istitle()</a></td>
    <td>Returns True if the string follows the rules of a 
    title</td>
  </tr>
  <tr>
    <td><a href="ref_string_isupper.asp">isupper()</a></td><td>Returns True if all 
    characters in the string are upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_join.asp">join()</a></td><td>Joins the elements of 
    an iterable to the end of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_ljust.asp">ljust()</a></td><td>Returns a left justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_lower.asp">lower()</a></td><td>Converts a string into 
    lower case</td>
  </tr>
  <tr>
    <td><a href="ref_string_lstrip.asp">lstrip()</a></td><td>Returns a left trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_maketrans.asp">maketrans()</a></td><td>Returns a 
    translation table to be used in translations</td>
  </tr>
  <tr>
    <td><a href="ref_string_partition.asp">partition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a href="ref_string_replace.asp">replace()</a></td><td>Returns a string 
    where a specified value is replaced with a specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_rfind.asp">rfind()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_rindex.asp">rindex()</a></td><td>Searches the string for 
    a specified value and returns the last position of where it was found</td>
  </tr>
  <tr>
    <td><a href="ref_string_rjust.asp">rjust()</a></td><td>Returns a right justified 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_rpartition.asp">rpartition()</a></td><td>Returns a tuple 
    where the string is parted into three parts</td>
  </tr>
  <tr>
    <td><a href="ref_string_rsplit.asp">rsplit()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_rstrip.asp">rstrip()</a></td><td>Returns a right trim 
    version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_split.asp">split()</a></td><td>Splits the string at 
    the specified separator, and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_splitlines.asp">splitlines()</a></td><td>Splits the string 
    at line breaks and returns a list</td>
  </tr>
  <tr>
    <td><a href="ref_string_startswith.asp">startswith()</a></td><td>Returns true if 
    the string starts with the specified value</td>
  </tr>
  <tr>
    <td><a href="ref_string_strip.asp">strip()</a></td><td>Returns a trimmed version of the string</td>
  </tr>
  <tr>
    <td><a href="ref_string_swapcase.asp">swapcase()</a></td><td>Swaps cases, lower 
    case becomes upper case and vice versa</td>
  </tr>
  <tr>
    <td><a href="ref_string_title.asp">title()</a></td><td>Converts the first 
    character of each word to upper case</td>
  </tr>
  <tr>
    <td><a href="ref_string_translate.asp">translate()</a></td><td>Returns a 
    translated string</td>
  </tr>
  <tr>
    <td><a href="ref_string_upper.asp">upper()</a></td><td>Converts a string 
    into upper case</td>
  </tr>
<tr><td><a href="ref_string_zfill.asp">zfill()</a></td><td>Fills the string with 
  a specified number of 0 values at the beginning</td></tr>
</tbody>

## Python - Modify Strings
- Python has a set of built-in methods that you can use on strings.
### Upper Case

In [15]:
# The upper() method returns the string in upper case:

a = "Hello, World!"
print(a.upper())

HELLO, WORLD!

In [16]:
# Lower Case
# The lower() method returns the string in lower case:

a = "Hello, World!"
print(a.lower())

hello, world!

In [17]:
# Remove Whitespace
# Whitespace is the space before and/or after the actual text, and very often you want to
#remove this space.

# The strip() method removes any whitespace from the beginning or the end:

a = " Hello, World! "
print(a.strip()) # returns "Hello, World!"

Hello, World!

In [18]:
# Replace String
# The replace() method replaces a string with another string:

a = "Hello, World!"
print(a.replace("H", "J"))

Jello, World!

In [19]:
# Split String
# The split() method returns a list where the text between the specified separator becomes the list items.

# The split() method splits the string into substrings if it finds instances of the separator:

a = "Hello, World!"
print(a.split(",")) # returns ['Hello', ' World!']

['Hello', ' World!']

## String Concatenation
- To concatenate, or combine, two strings you can use the + operator.

In [20]:
# Merge variable a with variable b into variable c:

a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [22]:
# To add a space between them, add a " ":

a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

## String Format
- As we learned in the Python Variables chapter, we cannot combine strings and numbers like this:

In [ ]:
age = 36
txt = "My name is John, I am " + age
print(txt)
# it is error

But we can combine strings and numbers by using the format() method!

The format() method takes the passed arguments, formats them, and places them in the string where the placeholders {} are:

In [25]:
# Use the format() method to insert numbers into strings:

age = 21
txt = "My name is Sony, and I am {}"
print(txt.format(age))

My name is Sony, and I am 21

In [26]:
# The format() method takes unlimited number of arguments, and are placed into the
#respective placeholders:

quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [27]:
#You can use index numbers {0} to be sure the arguments are placed in the correct placeholders:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

## Escape Character
- To insert characters that are illegal in a string, use an escape character.

- An escape character is a backslash \ followed by the character you want to insert.

- An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
# You will get an error if you use double quotes inside a string that is surrounded by double quotes:

txt = "We are the so-called "Vikings" from the north."

In [31]:
# To fix this problem, use the escape character \":
# The escape character allows you to use double quotes when you normally would not be allowed:

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

## Escape Characters
- Other escape characters used in Python:

<tbody><tr>
  <th width="25%">Code</th>
  <th>Result</th>
  <th style="width:10%"></th>
</tr>
<tr>
  <td>\'</td>
  <td>Single Quote</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_escape2"></a></td>
</tr>
<tr>
  <td>\\</td>
  <td>Backslash</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_backslash"></a></td>
</tr>
<tr>
  <td>\n</td>
  <td>New Line</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_newline"></a></td>
</tr>
<tr>
  <td>\r</td>
  <td>Carriage Return</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_r"></a></td>
</tr>
<tr>
  <td>\t</td>
  <td>Tab</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_t"></a></td>
</tr>
<tr>
  <td>\b</td>
  <td>Backspace</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="showpython.asp?filename=demo_string_b"></a></td>
</tr>
<tr>
  <td>\f</td>
  <td>Form Feed</td>
<td></td>
</tr>
<tr>
  <td>\ooo</td>
  <td>Octal value</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_octal"></a></td>
</tr>
<tr>
  <td>\xhh</td>
  <td>Hex value</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_string_hex"></a></td>
</tr>
</tbody>

## Booleans represent one of two values: True or False.

- Boolean Values
- In programming you often need to know if an expression is True or False.

- You can evaluate any expression in Python, and get one of two answers, True or False.
- When you compare two values, the expression is evaluated and Python returns the Boolean answer:

In [1]:
print(10 > 9)
print(10 == 9)
print(10 < 9)
# When you run a condition in an if statement, Python returns True or False:

True
False
False

In [2]:
# Print a message based on whether the condition is True or False:

a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

## Evaluate Values and Variables
- The bool() function allows you to evaluate any value, and give you True or False in return,

In [3]:
# Evaluate a string and a number:

print(bool("Hello"))
print(bool(15))

True
True

In [4]:
# Evaluate two variables:

x = "Hello"
y = 15

print(bool(x))
print(bool(y))

True
True

## Most Values are True
- Almost any value is evaluated to True if it has some sort of content.

- Any string is True, except empty strings.

- Any number is True, except 0.

- Any list, tuple, set, and dictionary are True, except empty ones.

In [5]:
# The following will return True:

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

True

## Some Values are False
- In fact, there are not many values that evaluate to False, except empty values, such as (), [], {}, "", the number 0, and the value None. And of course the value False evaluates to False.

In [6]:
#The following will return False:

bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [7]:
#One more value, or object in this case, evaluates to False, and that is if you have an object that is made from a class with a __len__ function that returns 0 or False:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

## Functions can Return a Boolean
- You can create functions that returns a Boolean Value:

In [8]:
#Print the answer of a function:

def myFunction() :
  return True

print(myFunction())

True

In [9]:
# You can execute code based on the Boolean answer of a function:

#Print "YES!" if the function returns True, otherwise print "NO!":

def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [10]:

#Python also has many built-in functions that return a boolean value, like the isinstance() function,
#which can be used to determine if an object is of a certain data type:
#Check if an object is an integer or not:

x = 200
print(isinstance(x, int))

True

## Python Operators
- Operators are used to perform operations on variables and values.

In [13]:
#In the example below, we use the + operator to add together two values:
print(10 + 5)

15

Python divides the operators in the following groups:

- Arithmetic operators
- Assignment operators
- Comparison operators
- Logical operators
- Identity operators
- Membership operators
- Bitwise operators

### Python Arithmetic Operators
Arithmetic operators are used with numeric values to perform common mathematical operations:

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
<th style="width:10%"></th>
</tr>
<tr>
<td>+</td>
<td>Addition</td>
<td>x + y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_add"></a></td>
</tr>
<tr>
<td>-</td>
<td>Subtraction</td>
<td>x - y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_sub"></a></td>
</tr>
<tr>
<td>*</td>
<td>Multiplication</td>
<td>x * y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_mult"></a></td>
</tr>
<tr>
<td>/</td>
<td>Division</td>
<td>x / y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_div"></a></td>
</tr>
<tr>
<td>%</td>
<td>Modulus</td>
<td>x % y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_mod"></a></td>
</tr>
  <tr>
<td>**</td>
<td>Exponentiation</td>
<td>x ** y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_exp"></a></td>
  </tr>
<tr>
<td>//</td>
<td>Floor division</td>
<td>x // y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_floordiv"></a></td>
</tr>
</tbody>

### Python Assignment Operators
Assignment operators are used to assign values to variables:

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:20%">Example</th>
<th style="width:20%">Same As</th>
<th style="width:10%"></th>
</tr>
<tr>
<td>=</td>
<td>x = 5</td>
<td>x = 5</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass1"></a></td>
</tr>
  <tr>
<td>+=</td>
<td>x += 3</td>
<td>x = x + 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass2"></a></td>
  </tr>
  <tr>
<td>-=</td>
<td>x -= 3</td>
<td>x = x - 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass3"></a></td>
  </tr>
  <tr>
<td>*=</td>
<td>x *= 3</td>
<td>x = x * 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass4"></a></td>
  </tr>
  <tr>
<td>/=</td>
<td>x /= 3</td>
<td>x = x / 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass5"></a></td>
  </tr>
  <tr>
<td>%=</td>
<td>x %= 3</td>
<td>x = x % 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass6"></a></td>
  </tr>
  <tr>
<td>//=</td>
<td>x //= 3</td>
<td>x = x // 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass7"></a></td>
  </tr>
  <tr>
<td>**=</td>
<td>x **= 3</td>
<td>x = x ** 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass8"></a></td>
  </tr>
  <tr>
<td>&amp;=</td>
<td>x &amp;= 3</td>
<td>x = x &amp; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass9"></a></td>
  </tr>
  <tr>
<td>|=</td>
<td>x |= 3</td>
<td>x = x | 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass10"></a></td>
  </tr>
<tr>
<td>^=</td>
<td>x ^= 3</td>
<td>x = x ^ 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass11"></a></td>
</tr>
<tr>
<td>&gt;&gt;=</td>
<td>x &gt;&gt;= 3</td>
<td>x = x &gt;&gt; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass12"</a></td>
</tr>
<tr>
<td>&lt;&lt;=</td>
<td>x &lt;&lt;= 3</td>
<td>x = x &lt;&lt; 3</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_ass13"></a></td>
</tr>
</tbody>

### Python Comparison Operators
Comparison operators are used to compare two values:

<tbody><tr>
<th style="width:25%">Operator</th>
<th style="width:35%">Name</th>
<th style="width:30%">Example</th>
<th style="width:10%"></th>
</tr>
<tr>
<td>==</td>
<td>Equal</td>
<td>x == y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare1"></a></td>
</tr>
<tr>
<td>!=</td>
<td>Not equal</td>
<td>x != y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare2"></a></td>
</tr>
<tr>
<td>&gt;</td>
<td>Greater than</td>
<td>x &gt; y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare4"></a></td>
</tr>
<tr>
<td>&lt;</td>
<td>Less than</td>
<td>x &lt; y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare5"></a></td>
</tr>
  <tr>
<td>&gt;=</td>
<td>Greater than or equal to</td>
<td>x &gt;= y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare6"></a></td>
  </tr>
<tr>
<td>&lt;=</td>
<td>Less than or equal to</td>
<td>x &lt;= y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_compare7"></a></td>
</tr>
</tbody>

### Python Logical Operators
Logical operators are used to combine conditional statements:
- (and)Returns True if both statements are true,example	x < 5 and  x < 1
- (or)Returns True if one of the statements is true,example x < 5 or x < 4	
- (not)	Reverse the result, returns False if the result is true,example	not(x < 5 and x < 10)

### Python Membership Operators
- Membership operators are used to test if a sequence is presented in an object:
- (in) Returns True if a sequence with the specified value is present in the object
- (not in)  	Returns True if a sequence with the specified value is not present in the object

### Python Bitwise Operators
- Bitwise operators are used to compare (binary) numbers:

<tbody><tr>
<th style="width:10%">Operator</th>
<th style="width:15%">Name</th>
<th style="width:35%">Description</th>
<th style="width:30%">Example</th>
<th style="width:10%"></th>
</tr>
  <tr>
<td>&amp;&nbsp;</td>
<td>AND</td>
<td>Sets each bit to 1 if both bits are 1</td>
<td>x &amp; y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_and"></a></td>
  </tr>
  <tr>
<td>|</td>
<td>OR</td>
<td>Sets each bit to 1 if one of two bits is 1</td>
<td>x | y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_or"></a></td>
  </tr>
  <tr>
<td>^</td>
<td>XOR</td>
<td>Sets each bit to 1 if only one of two bits is 1</td>
<td>x ^ y</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_xor"></a></td>
  </tr>
<tr>
<td>~</td>
<td>NOT</td>
<td>Inverts all the bits</td>
<td>~x</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_not"></a></td>
</tr>
<tr>
<td>&lt;&lt;</td>
<td>Zero fill left shift</td>
<td>Shift left by pushing zeros in from the right and let the leftmost bits fall 
off</td>
<td>x &lt;&lt; 2</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_left_shift"></a></td>
</tr>
<tr>
<td>&gt;&gt;</td>
<td>Signed right shift</td>
<td>Shift right by pushing copies of the leftmost bit in from the left, and let 
the rightmost bits fall off</td>
<td>x &gt;&gt; 2</td>
<td><a target="_blank" class="w3-btn btnsmall btnsmall" href="trypython.asp?filename=demo_oper_right_shift"></a></td>
</tr>
</tbody>

In [14]:
#Operator Precedence
# Operator precedence describes the order in which operations are performed.

#Parentheses has the highest precedence, meaning that expressions inside parentheses must be
#evaluated first:

print((6 + 3) - (6 + 3))

0

In [15]:
# Multiplication * has higher precedence than addition +, and therefor multiplications are evaluated
#before additions:

print(100 + 5 * 3)

115

In [16]:
# Addition + and subtraction - has the same precedence, and therefor we evaluate the expression from
#left to right:

print(5 + 4 - 7 + 3)

5